#canvas {
  margin: 30px;
  border: 1px solid lightgray;
}

.grab {
  cursor: -webkit-grab;
  cursor: grab;
}
#startBtn {
  position: absolute;
  top: 400px;
  left: 250px;
  width: 200px;
  height: 50px;
  font-size: 20px;

}


